<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.fhbi.mobappproj.carlogger">

    <!-- To access Google+ APIs: -->
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.AddActivities.ReminderAddActivity"
            android:label="@string/reminder_add_title"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.AddActivities.RepairAddActivity"
            android:label="@string/repair_add_title"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.AddActivities.FuelAddActivity"
            android:label="@string/fuel_add_title"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.AddActivities.OtherCostAddActivity"
            android:label="@string/other_cost_add_title"
            android:theme="@style/AppTheme.NoActionBar" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="de.fhbi.mobappproj.carlogger"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <receiver android:name=".reminderNotification.BootReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver android:name=".reminderNotification.AlarmReceiver" />

        <activity
            android:name=".activities.LoginActivity"
            android:theme="@style/Theme.AppCompat.Light.Dialog"></activity>
    </application>

</manifest>